.left {
  width: calc(vw - 8px);
  height: calc(100vh - 8px);
  margin: 4px;
}

.right {
  width: calc(33vw - 8px);
  height: calc(100vh - 8px);
  margin: 4px;
}

#background, #foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}